@import "tailwindcss";

@theme {
  --color-cream: #FBF9FE
  --color-navy: #0C0830;
  --color-lavender: #D2CEF7;
  --color-iris: #6B57C7;
  --color-petal: #FFE9E8;
  --color-cloud: #CCEDFF;

  --font-sans: var(--font-geist-sans);
}

body {
  background-color: var(--color-cream);
  color: var(--color-navy);
}
