@import "tailwindcss";

@theme {
  --color-cream: #F9FCFF;
  --color-sky: #A5D8F3;
  --color-navy: #0D1B2A;
  --color-petal: #FFE9E8;
  --color-cloud: #CCEDFF;
  --color-rose: #C08A86;
  --color-denim: #3D6E91;

  --font-sans: var(--font-geist-sans);
}

body {
  background-color: var(--color-cream);
  color: var(--color-navy);
}
